body {
    font-family: Arial, sans-serif;
    background-color: #1c1c22;
    color: white;
    margin: 0;
    padding: 0;
}
.gestion-h2 {
margin-bottom: 20px;
text-align: center;
position: relative;
display: inline-block;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border: 2px solid #007BFF;
    border-radius: 4px;
}

.links a:hover {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.button {
    padding: 5px 10px;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.button-blue {
    color: #ffffff;
    border: 2px solid #007BFF;
}
.button-blue:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
    border-color: #0056b3; /* Cambia el color del borde al pasar el mouse */
}
.button-red {
    background-color: transparent;
    color: #FF0000;
    border: 2px solid #FF0000;
}
.button-red:hover {
    background-color: #FF0000;
    color: #ffffff;
}
.button-green {
    background-color: transparent;
    color: #28a745;
    border: 2px solid #28a745;
}
.button-green:hover {
    background-color: #28a745;
    color: #ffffff;
}

.table-container {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: white;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007BFF;
}

table tr:nth-child(even) {
    background-color: #1c1c22;
}

table tr:hover {
    background-color: #555;
}

.form-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

.form-section label {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
}

.form-section input[type='text'],
.form-section select {
    width: calc(100% - 130px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

.form-section button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #007BFF;
}