.form-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

.register-message {
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    z-index: 1;
    text-align: center;
}

.register-message a {
    color: #b37ef0;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.register-message a:hover {
    color: white;
}

.terms-container{
    display: flex;
}

label {
    display: flex;
    align-items: center;
    color: white;
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

#termsLink {
    color: #b37ef0;
    padding-left: 5px;
}


/* Estilos para el Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 95%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }