*{
    margin: 0;
    font-family: "Noto Sans Khojki";
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232220;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070000;
    color: #fff; 
}



/*************************LOGO*********************************/

#logo {
    width: 100px;
}
.logo-container {
    display: inline-block; 
  }
  
  .logo-container img {
    transition: transform 0.3s ease; 
  }
  
  .logo-container:hover img {
    transform: scale(1.1); 
  }
  


  /*****************************NAVBAR*******************/

  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px 20px; 
    border-radius: 8px; 
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


nav ul li a:hover {
    border-radius: 15px;
    color: #ffffff; 
    box-shadow: 0px 0px 30px rgba(135, 128, 229, 0.5);
}
nav ul li.menu-1 a {
    background-color: #232220;
}

nav ul li.menu-1 a:hover {
    background-color: #070000;
    color: #fff; 
}

/**************************Main**********************/

.imag-1 {
    background-image: url('../img/4.jpg'); 
    background-size: cover;
    background-position: center; 
    margin-bottom: 20px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 10px;
}

h1, h3 {
    font-size: 24px;
    margin-bottom: 15 px;
    color: #fff;
    text-align: center;
}


p {
    color: #fff;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}

hr {
    border: none; 
    border-top: 3px solid #7591dd; 
    margin-left: 100px; 
    margin-right: 100px;
    
}

form {
    position: relative;
    animation: slide-up 0.5s ease forwards;
    opacity: 0;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/***************************Botones*******************/

button {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: #fff;
    border: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.boton-1{
    margin-left: 43%;
    margin-bottom: 20px;
}

.boton-2{
    margin-left: 47%;
    margin-bottom: 20px;
}

.boton-direc{
    margin-left: 39%;
    margin-top: 20px;
}

button:hover {
    border-radius: 20px;
    background-image: linear-gradient(to bottom,    #476bce, #b37ef0);
    box-shadow: 0px 0px 40px rgba(135, 128, 229, 0.5);
}

.boton-registrate{
    color: #b37ef0;
    background: black;
}

.boton-registrate:hover{
    color: white;
}


/*********************** buscador****************/

#titulo{
    margin-left: 38%;
    width: 300px;
    border-radius: 15px;
}


/********************tendencias********************/

.contenedor{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 100px));
    gap:40px;
    margin-left: 200px;

}

.card {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    box-shadow: 0px 4px 8px rgba(247, 231, 231, 0.89);
    box-shadow: 0px 0px 15px rgba(135, 128, 229, 0.5);
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(0.95);
}


.card img {
    width: 100%;
    height: 100%; 
    display: block; 
}

.card .info {
    position: absolute;
    top: 0;
    left: 100%; 
    width: 250px; 
    height: 100%;
    background-color: rgba(17, 15, 15);    color: #fff;
    padding: 20px;
    transition: left 0.0s ease; 
   
}

.card:hover .info {
    left: 0; 
    
}


/****************** Las Mas vistas************/

.contenedor-1 {
    display: flex; 
    justify-content: flex-start; 
    gap: 28px; 
    overflow-x: auto; 
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    animation: slideUp 1s ease-in-out;

}
@keyframes slideUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-1 {
    flex: 0 0 auto; 
    width: 180px; 
    height: 300px;
    transition: transform 0.3s ease; 
}

.card-1:hover {
    transform: scale(0.95);
}



.card-1 img {
    width: 100%;
    height: 100%; 
    display: block; 
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(135, 128, 229, 0.5);
   
}

.contenedor-1::-webkit-scrollbar {
    width: 5px; 
}
.contenedor-1::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    border-radius: 8px; 
}

.contenedor-1::-webkit-scrollbar-track {
    background-color: #424141;
    border-radius: 8px;
    
}

/******************* footer****************/

footer {
    background-color: #070000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer div ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.term-1{
    padding: 10px;
   
}

.redes-sociales img {
    width: 30px;
    margin: 15px 0 0 5px;
}

.peli-adm{
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: #fff;
    padding: 10px 5px;
    border-radius: 8px;
}

.peli-adm a {
    text-decoration: none; 
    color: #fff; 
}

/*********************REGISTRO********************************/


.form-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    /*margin-left: 33%;*/
    background-color: rgb(8, 2, 2);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /*width: 300px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.termycond{
    color: white;
    margin-left: 35px;
}

.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

/********************** inicio sesion***********************/

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-insec {  
    font-family: Arial, sans-serif;
    background-color:  rgb(8, 2, 2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.form-insec h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-insec input[type="text"],
.form-insec input[type="password"],
.form-insec input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 30px;
}

.form-insec h5 {
    text-align: left;
    margin: 0;
    font-size: 12px;
    color: #888;
}

.form-insec input[type="submit"] {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.centrado {
    text-align: center;
    margin-top: 10px; 
}



/******************* Api ***************/

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
    
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;

}


/****** responsive*********/

@media only screen and (max-width: 600px) {
header {
    text-align: center;
    }

nav ul li {
    display: block;
    margin: 10px 0;
    }

    
.boton-1{
    margin-left: 28%;
}

#titulo{
    margin-left: 16%;
}

.boton-2{
    margin-left: 38%;
   
}

.boton-direc{
    margin-left: 20%;
    margin-top: 20px;
}

.contenedor{
    margin-top: 30px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 40px;
    margin-left: auto;
    margin-right: auto; 
    max-width: 960px;   

}
.card-1 {
   
    width: 230px; 
    height: 350px;
    transition: transform 0.3s ease; 
}

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        text-align: left;
        padding: 20px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        margin: 0 15px;
        display: inline-block;
    }


    #titulo {
        margin-left: 32%;
        text-align: center;
    }

    .boton-2 {
        margin-left: 45%;
        text-align: center;
    }

    .contenedor{
        margin-top: 30px;
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 40px;
        margin-left: auto;
        margin-right: auto; 
        max-width: 960px;   
    
    }

}