*{
    margin: 0;
    font-family: "Noto Sans Khojki";
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232220;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070000;
    color: #fff; 
}



/*************************LOGO*********************************/

#logo {
    width: 100px;
}
.logo-container {
    display: inline-block; 
  }
  
  .logo-container img {
    transition: transform 0.3s ease; 
  }
  
  .logo-container:hover img {
    transform: scale(1.1); 
  }
  


  /*****************************NAVBAR*******************/

  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px 20px; 
    border-radius: 8px; 
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


nav ul li a:hover {
    border-radius: 15px;
    color: #ffffff; 
    box-shadow: 0px 0px 30px rgba(135, 128, 229, 0.5);
}
nav ul li.menu-1 a {
    background-color: #232220;
}

nav ul li.menu-1 a:hover {
    background-color: #070000;
    color: #fff; 
}

/**************************Main**********************/
.imag-1 {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right top, #0000008a, #0000008a),
      url(../img/plataformas_1600x900.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .subtituloPrincipal {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

h1, h3 {
    font-size: 24px;
    margin-bottom: 15 px;
    color: #fff;
    text-align: center;
}

hr {
    border: none; 
    border-top: 3px solid #7591dd; 
    margin-left: 100px; 
    margin-right: 100px;
    
}

form {
    position: relative;
    animation: slide-up 0.5s ease forwards;
    opacity: 0;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/***************************Botones*******************/

button {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: #fff;
    border: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
   
}


.boton-1{
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

.boton-2 {
    margin: auto;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.boton-direc{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button:hover {
    border-radius: 20px;
    background-image: linear-gradient(to bottom,    #476bce, #b37ef0);
    box-shadow: 0px 0px 40px rgba(135, 128, 229, 0.5);
}

.boton-registrate{
    color: #b37ef0;
    background: black;
}

.boton-registrate:hover{
    color: white;
}


/*********************** buscador****************/

.buscadorPrincipal {
    color: rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloSection {
    font-size: 1.5 rem;
    margin-bottom: 1%;
}

.buscadorPeliculas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.inputBuscador {
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1rem;
    height: 40px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}





/********************tendencias********************/

.contenedor{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 100px));
    gap:40px;
    margin-left: 200px;

}

.card {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    box-shadow: 0px 4px 8px rgba(247, 231, 231, 0.89);
    box-shadow: 0px 0px 15px rgba(135, 128, 229, 0.5);
    transition: transform 0.3s ease; 
    position: relative;
}

.card:hover {
    transform: scale(0.95);
}


.card img {
    width: 100%;
    height: 100%; 
    display: block; 
}

.card .info {
    display: block;
    position: absolute;
    top: 0;
    left: 100%; 
    width:100%;
    height: 100%;
    background-color: rgba(17, 15, 15, 0.9);    
    color: #fff;
    padding: 20px;
    transition: left 0.0s ease; 
    box-sizing: border-box; 
    overflow: hidden;
}

.card:hover .info {
    left: 0; 
    
}


/****************** Las Mas vistas************/

.contenedor-1 {
    display: flex; 
    justify-content: flex-start; 
    gap: 28px; 
    overflow-x: auto; 
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    animation: slideUp 1s ease-in-out;

}
@keyframes slideUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-1 {
    flex: 0 0 auto; 
    width: 180px; 
    height: 300px;
    transition: transform 0.3s ease; 
}

.card-1:hover {
    transform: scale(0.95);
}


.card-1 img {
    width: 100%;
    height: 100%; 
    display: block; 
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(135, 128, 229, 0.5);
   
}

.contenedor-1::-webkit-scrollbar {
    width: 5px; 
    height: 10px;
    border-radius: 10px;
}
.contenedor-1::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    border-radius: 8px; 
}

.contenedor-1::-webkit-scrollbar-track {
    background-color: #424141;
    border-radius: 8px;
    
}

.contenedor-1 {
    scrollbar-width: thin; 
    scrollbar-color: #b37ef0 #424141; }
/******************* footer****************/

footer {
    background-color: #070000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer div ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.term-1{
    padding: 10px;
   
}

.redes-sociales img {
    width: 30px;
    margin: 15px 0 0 5px;
}

.peli-adm{
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: #fff;
    padding: 10px 5px;
    border-radius: 8px;
}

.peli-adm a {
    text-decoration: none; 
    color: #fff; 
}

/*********************REGISTRO********************************/


.form-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    /*margin-left: 33%;*/
    background-color: rgb(8, 2, 2);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /*width: 300px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.termycond{
    color: white;
    margin-left: 35px;
}

.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

/********************** inicio sesion***********************/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  
}

.form-insec {  
    font-family: Arial, sans-serif;
    background-color:  rgb(8, 2, 2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.form-insec h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-insec input[type="text"],
.form-insec input[type="password"],
.form-insec input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 30px;
}

.form-insec h5 {
    text-align: left;
    margin: 0;
    font-size: 12px;
    color: #888;
}

.form-insec input[type="submit"] {
    background-image: linear-gradient(to bottom, #b37ef0, #476bce);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.centrado {
    text-align: center;
    margin-top: 10px; 
}



/******************* Api ***************/

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
    
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;

}


/****** responsive*********/

@media (max-width: 1200px) {
   
    header {
        text-align: center;
        }
    
    nav ul li {
        /*display: block;*/
        margin: 10px 0;
        }
    
        
    .boton-1{
        margin-left: 28%;
    }
    
    #titulo{
        margin-left: 16%;
    }
    
    .boton-2{
        margin-left: 38%;
       
    }
    .imag-1 {
        height: 70vh;
    
        }
    .buscadorPrincipal {
        height: 50vh;
       
        }   
    
    .contenedor {
        margin-top: 30px;
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 40px;
        margin-left: auto;
        margin-right: auto; 
        max-width: 960px;   
    
    }
 
    .card {
        width: 180px;
        height: 250px;
        transition: transform 0.3s ease; 
    }

    .contenedor-1 {
        display: flex; 
        justify-content: flex-start;
        overflow-y:hidden;
       
    }
  
    .card-1 {
        width: 180px; 
        height: 250px;
        
    }
    .tituloPrincipal {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .subtituloPrincipal {
        font-size: 1.3rem;
        margin-bottom: 5rem;
    }
    .tituloSection {
        font-size: 1.5rem;
        margin-bottom: 3%;
        margin-left: 10px;
    }
    h3{
        font-size:1.3rem ;
    }
    button {
        border-radius: 10px;
        padding: 5px 5px;
     
       
    }
    .boton-1, .boton-2{ 
        margin: 3px auto;
        font-size: 1rem;
    }


    .inputBuscador {
        width: 130%;
        margin-right: 20%;
        
    }
   

    .pelicula {
        width: calc(40% - 20px); 
    }

    }    

/***********/

@media (max-width: 800px) {

    header {
        text-align: center;
        }
    
    nav ul li {
        display: block;
        margin: 5px;
        margin-right: 10px;

        }

    a {
        font-size: 10px;
    }

    .imag-1 {
        height: 30vh;
    
        }

    
    .tituloPrincipal {
        margin-top: 30px;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .subtituloPrincipal {
        font-size: 0.8rem;     
        }

    .buscadorPrincipal {
        height: 30vh;
       
        }   
  
    
    #titulo{
        margin-left: 16%;
    }
    
    .peli-adm{

        padding: 3px;
     
    }
    
    .contenedor{
        margin-top: 30px;
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 40px;
        margin-left: auto;
        margin-right: auto; 
        max-width: 960px;   
    
    }
 
    .card {
        width: 180px;
        height: 250px;
        transition: transform 0.3s ease; 
    }
    
    .contenedor-1 {
        display: flex; 
        justify-content: flex-start; 
        gap: 40px; 
        overflow-x: auto; 
        margin-top: 30px;
        margin-left: 42px;
        margin-right: 35px;
        height: 100%;
        animation: slideUp 1s ease-in-out;

}
    .card-1 {
        width: 150px; 
        height: 250px;
    
    }
    
    
    .tituloPrincipal {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .subtituloPrincipal {
        font-size: 0.8rem;
        margin-bottom: 5rem;
    
    }
    .tituloSection {
        font-size: 0.9rem;
        margin-bottom: 3%;
        margin-left: 10px;
    }
    h3{
        font-size:0.7rem ;
    }
  
    button {
        border-radius: 10px;
        padding: 5px 5px;
        
    }
    .boton-1, .boton-2{ 
        margin: 3px auto;
        font-size: 0.7rem;
    }


    .inputBuscador {
        width: 80%;
        
    }
    .pelicula {
        width: 50%
    }

    .term-1{
        padding: 10px;
        font-size: 10px;
       
    }
    
    .redes-sociales img {
        width: 15px;
     
    }
    
  
    .form-insec {  
        width: 60%;
        max-width: 100%; 

    }
    .form-insec h5 {
        font-size: 8px;
        text-align: center;
       
    }

    .form-container{
        width: 60%;
        max-width: 100%; 

    }
    .titulo{
        font-size: 20px;
        text-align: center;
    }
    
    
    .register-message p {
       
        font-size:13px;
    }

    .register-message a {
        font-size: 6px;}

    label {
      font-size: 12px;
    }
    
    
}

  
 
   
